
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea/
.env
.env.test
.github/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
notes.txt
###< phpunit/phpunit ###
